<div id="person-header">
  <h2><%= @person.full_name %> <small><%= @person.Relationship.name%></small></h2>
  <%= link_to '', edit_person_path(@person), {data: {toggle: "modal", target: "#edit-person-modal",}, class: 'glyphicon glyphicon-pencil'} %>
</div>

<p >
  Gift Completed: <%= @person.GiftCompleted ? "Yes" : "No" %>
</p>

<h3 class="page-header">Gifts</h3>


  
    <% if @person.gifts.count > 0 %>
      <table class="table table-striped">
  <thead>
    <tr>
      <th width="25%">Summary</th>
      <th width="40%">Description</th>
      <th width="10%">Cost</th>
      <th width="15%">Purchased?</th>
      <th width="10%" colspan="2"></th>
    </tr>
  </thead>
      <tbody>
      <% @person.gifts.each do |gift| %>
        <tr>
          <td width="25%"><%= gift.Summary %></td>
          <td width="40%"><%= gift.Description %></td>
          <td width="10%"><%= "$#{gift.cost}" %></td>
          <td width="15%"><%= gift.purchased ? "Yes" : "No"%>
          <td width="5%"><%= link_to '', edit_gift_path(gift), {data:{toggle:"modal", target:"#edit-gift-modal"},class: 'glyphicon glyphicon-pencil'}%></td>
          <td width="5%"><%= link_to '', gift, method: :delete, data: { confirm: 'Are you sure?' }, class: 'glyphicon glyphicon-trash' %></td>
        </tr>
      <% end %>
      </tbody>
      </table>
    <%else%>
      <h2 class="text-center">No gifts found!</h2>
    <%end%>
  


<%= link_to 'Add Gift', '', {data: {toggle: "modal", target: "#add-gift-modal"}, class: "btn btn-primary"}%>

<%= render 'gifts/addGiftModal'%>
<%= render 'gifts/editGiftModal'%>

<%= link_to 'Back', people_path, class:"btn btn-default" %>

<%= render "editPersonModal"%>
