<p id="notice"><%= notice %></p>

<h1>Listing Gifts</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Summary</th>
      <th>Description</th>
      <th>Cost</th>
      <th>For</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gifts.each do |gift| %>
      <tr>
        <td><%= gift.Summary %></td>
        <td><%= gift.Description %></td>
        <td><%= gift.cost %></td>
        <td><%= gift.Person.full_name %></td>
        <td><%= link_to '', gift, class: 'glyphicon glyphicon-eye-open' %></td>
        <td><%= link_to '', edit_gift_path(gift), class: 'glyphicon glyphicon-pencil'%></td>
        <td><%= link_to '', gift, method: :delete, data: { confirm: 'Are you sure?' }, class: 'glyphicon glyphicon-trash' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gift', '', {data: {toggle:"modal", target:"#add-gift-modal"}, class: "btn btn-primary"} %>


<%= render 'addGiftModal'%>