<h1 class="glyphicon glyphicon-gift"> Gifts</h1><%= link_to 'New Gift', '', {data: {toggle:"modal", target:"#add-gift-modal"}, class: "btn btn-primary pull-right"} %>


<table class="table table-striped">
  <thead>
    <tr>
      <th width="25%">Summary</th>
      <th width="25%">Description</th>
      <th width="10%">Cost</th>
      <th width="25%">For</th>
      <th colspan="2" width="10%"></th>
    </tr>
  </thead>

  <tbody>
    <% @gifts.each do |gift| %>
      <tr>
        <td width="25%"><%= gift.Summary %></td>
        <td width="25%"><%= gift.Description %></td>
        <td width="10%"><%= gift.cost %></td>
        <td width="25%"><%= gift.Person.full_name %></td>
        <td width="5%"><%= link_to '', gift, class: 'glyphicon glyphicon-eye-open' %></td>
        <td width="5%"><%= link_to '', gift, method: :delete, data: { confirm: 'Are you sure?' }, class: 'glyphicon glyphicon-trash' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>



<%= render 'addGiftModal'%>
<%= render 'editGiftModal'%>